.header{
    display: flex;
    flex-direction: row; 
    align-items: center;
    height: 150 px;
    margin-bottom: 30px;
}
.header_info{
    flex:1;
}
.bfp_logo{
    padding-left: 40px;
    width:150px;
    height:150px;
    flex:1;
}
.bfp_header{   
    margin:3px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.bfp_station{
    margin:2px;
    text-align: center;
    font-size: 40px;
}
.bfp_address{
    text-align: center;
    font-size: 30px;
}
.bfp_contact{
    text-align: center;
    font-size: 20px;
}
.mcfs_logo{
    padding-right: 40px;
    width:150px;
    height:150px;
    flex:1;
}
.Org_Struc{
    font-size: 40px;
    font-weight: 400;
    text-align:center;
    margin-bottom: 50px;
}
.cfm, .chief_fses, .chief_admin, .chief_opn{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.cfm_name{
    font-size: 20px;
    font-weight: 500;
}
.cfm_pic, .admin_pic, .fses_pic, .opn_pic{
    height: 250px;
    width: 200px;

}
.cfm_title, .chief_fses_title, .chief_admin_title, .chief_opn_title{
    font-size: 25px;
    font-weight: 600;
}

.chief_admin, .chief_fses, .chief_opn{
    font-size: 20px
}
.sections, .substation{
    display: flex;
    flex-direction: row;
}
.admin, .opn, .fses, .kalasungay, .casisang, .aglayan
{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.admin_image, .fses_image, .opn_image, .kalasungay_image, .casisang_image, .aglayan_image, .staff_image{
    width: 150px;
    height: 200px
}
.sections{
    margin-bottom:50px
}

.fses_section, .admin_section, .opn_section, .kalasungay_section, .casisang_section, .aglayan_section{
    font-size: 23px ;
    font-weight: 500;
}
.fses_left{
    display:flex;
    flex-direction: column;
}
.staff{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 250px;
}
.inspector{
    display:flex;
    flex-direction: column;
}
.insp1, .insp2, .insp3, .insp4, .fpu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bpe{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
.bpe_insp{
    display:flex;
    flex-direction: column;
}
.fses_right{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.left_right{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly
}
.admin_lower, .admin_upper{
    display:flex;
  justify-content: space-evenly;
    flex-direction: row;
    text-align: center;
}
.admin_upper{
    margin-bottom: 50px;
}
.ShiftA_Supervisor{
    text-align: center;
    align-content: center;
}
.team_A{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
